.menu{
    min-height: 40px;
    background-color: orangered;
}

.menu ul{
    list-style: none;
    background-color: orangered;
    text-align: center;
    border-radius: 5px;
}

.menu ul li{
    display: inline-block;
    position: relative;
}

.menu ul li a{
    display: block;
    text-decoration: none;
    font-variant: small-caps;
    font-size: large;
    color: white;
    padding: 0 10px;
    line-height: 40px;
}

.menu ul li a:hover{
    background-color: yellow;
    color: red;
    text-shadow: 0 0 10px red;
}

/* menu con */
.menu ul ul{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    box-shadow: 0 0 2px gray;
    background-color: orangered;
    border-radius: 3px;
    text-align: left;
    z-index: 100;
}

.menu ul ul li{
    display: block;
    z-index: 100;
}

.menu ul ul a{
    display: block;
    color: white;
    text-decoration: none;
    font-size: large;
    font-variant: small-caps;
    padding: 0 10px;
    line-height: 30px;
}

.menu ul ul a:hover{
    color: white;
    background-color: yellow;
}

.menu ul li:hover ul{
    display: block;
}