* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.tong {
  margin: 0 auto;
  width: 90%;
  position: relative;
  box-shadow: 0 0 10px gray;
}

.menu {
  position: absolute;
  position: fixed;
  z-index: 10;
  padding: 0 20px;
  width: 90%;
  height: 80px;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
}

.menu a {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 150px;
  text-decoration: none;
  border-radius: 5px;
  padding: 18px;
  text-align: center;
  font-weight: bold;
}

.menu a {
  color: blue;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: .2s;
}

.menu a:hover {
  color: hotPink;
}

@media (-webkit-min-device-pixel-ratio:0) {
  .menu a {
    background-color: skyblue;
    background-image: -webkit-linear-gradient(left, hotPink 0%, orange 50%, transparent 50%);
    background-position: 100% 0;
    background-size: 200% 200%;
    color: transparent;
    -webkit-transition: .1s .2s;
    -webkit-background-clip: text;
  }

  .menu a:hover {
    background-position: 0 0;
    color: transparent;
    transition: .4s 0;
  }
}

.icons {
  width: 120px;
  border-radius: 5px;
  margin: 10px;
}

.timkiem {
  margin: 20px;
}

.text_search {
  padding: 10px;
}

.header {
  width: 100%;
  height: 640px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 640px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 100%;
  height: 640px;
}

.navigation-manual {
  position: absolute;
  width: 100%;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid gray;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background-color: gray;
}

#radio1:checked~.first {
  margin-left: 0;
}

#radio2:checked~.first {
  margin-left: -20%;
}

#radio3:checked~.first {
  margin-left: -40%;
}

#radio4:checked~.first {
  margin-left: -60%;
}

.navigation-auto {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 600px;
}

.navigation-auto div {
  border: 2px solid gray;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
  background-color: black;
}

#radio2:checked~.navigation-auto .auto-btn2 {
  background-color: black;
}

#radio3:checked~.navigation-auto .auto-btn3 {
  background-color: black;
}

#radio4:checked~.navigation-auto .auto-btn4 {
  background-color: black;
}

.slider {
  width: 100%;
  height: 520px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  background-image: url(img/anhmoiluu.jpg);
}

.slider-left {
  flex: 1;
}

.dangki {
  border-radius: 10px;
  transition: 0.5s;
  width: 400px;
  height: 80px;
  margin: 40px;
  margin-top: 60px;
  margin-left: 80px;
  text-align: center;
  padding-top: 20px;
  background: #fe262c !important;
  background: -webkit-gradient(linear, left top, right top, from(#fe262c), to(#007fff)) !important;
  background: -o-linear-gradient(left, #fe262c 0%, #007fff 100%) !important;
  background: linear-gradient(to right, #fe262c 0%, #007fff 100%) !important;
}

.dangki:hover {
  transform: scale(1.04);
  box-shadow: 0 0 8px gray;
}

.giamgia {
  border-radius: 10px;
  transition: 0.5s;
  width: 400px;
  height: 80px;
  margin: 40px;
  margin-top: 60px;
  margin-left: 80px;
  text-align: center;
  padding-top: 20px;
  background: #1b20ff !important;
  background: -webkit-gradient(linear, left top, right top, from(#1b20ff), to(#c404ff)) !important;
  background: -o-linear-gradient(left, #1b20ff 0%, #c404ff 100%) !important;
  background: linear-gradient(to right, #1b20ff 0%, #c404ff 100%) !important;
}

.giamgia:hover {
  transform: scale(1.04);
  box-shadow: 0 0 8px gray;
}

.bookngay {
  border-radius: 10px;
  transition: 0.5s;
  width: 400px;
  height: 80px;
  margin: 40px;
  margin-top: 60px;
  margin-left: 80px;
  text-align: center;
  padding-top: 20px;
  background: #44cdff !important;
  background: -webkit-gradient(linear, left top, right top, from(#44cdff), to(#39ffef)) !important;
  background: -o-linear-gradient(left, #44cdff 0%, #39ffef 100%) !important;
  background: linear-gradient(to right, #44cdff 0%, #39ffef 100%) !important;
}

.bookngay:hover {
  transform: scale(1.04);
  box-shadow: 0 0 8px gray;
}

.dangki-text {
  text-decoration: none;
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 100px;
  padding-right: 100px;
  color: white;
}

.thanhcuon {
  padding: 50px 50px;
  flex: 1;
  width: 100%;
  height: 100%;
}

.numbertext-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

* {
  box-sizing: border-box
}

body {
  font-family: Verdana, sans-serif;
  margin: 0
}

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
  width: 100%;
  height: 100%;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@media only screen and (max-width: 300px) {

  .prev,
  .next,
  .text {
    font-size: 11px
  }
}

.slider-1 {
  height: 600px;
  flex-direction: row;
  justify-content: start;
}

.dau-gach {
  text-align: center;
  font-size: 2.60417vw;
  font-family: "UTM Bebas", sans-serif;
  line-height: 1em;
  position: relative;
  padding-bottom: 1.14583vw;
  margin: 0 0 2.34375vw;
  margin-top: 40px;
}

.dau-gach:before {
  content: '';
  display: block;
  width: 9.84375vw;
  height: .20833vw;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #fe262c !important;
  background: -webkit-gradient(linear, left top, right top, from(#fe262c), to(#007fff)) !important;
  background: -o-linear-gradient(left, #fe262c 0%, #007fff 100%) !important;
  background: linear-gradient(to right, #fe262c 0%, #007fff 100%) !important;
}

.diadiem {
  display: flex;
}

.diadiem-1 {
  width: 400px;
  height: 250px;
  margin: 50px;
  margin-top: 30px;
  transition: 1s;
}

.diadiem-1:hover {
  transform: scale(1.06);
}

.diadiem-2 {
  width: 400px;
  height: 250px;
  margin: 50px;
  margin-top: 30px;
  transition: 1s;
}

.diadiem-2:hover {
  transform: scale(1.06);
}

.diadiem-3 {
  width: 400px;
  height: 250px;
  margin: 50px;
  margin-top: 30px;
  transition: 1s;
}

.diadiem-3:hover {
  transform: scale(1.06);
}

.slider-2 {
  height: 600px;
  background-image: url(img/anhmoiluu2.png);
}


.cacgoi {
  display: flex;
}

.goi {
  width: 300px;
  height: 450px;
  margin: 20px;
  border: 0.1px solid grey;
  border-radius: 5px;
  transition: 0.5s;
  background: #44cdff !important;
  background: -webkit-gradient(linear, left top, right top, from(#44cdff), to(#39ffef)) !important;
  background: -o-linear-gradient(left, #44cdff 0%, #39ffef 100%) !important;
  background: linear-gradient(to right, #44cdff 0%, #39ffef 100%) !important;
}

.goi-1 {
  font-size: 80px;
  font-weight: bold;
  color: black;
  text-align: center;
  margin-top: 20px;
}

#goi-dangki {
  width: 160px;
  border: 2px solid red;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  margin-top: 140px;
  margin-left: auto;
  margin-right: auto;
  transition: 0.5s;
  font-weight: bold;
}

#goi-dangki a {
  text-decoration: none;
}

#goi-dangki:hover {
  background-color: rgba(255, 92, 98, .3);
}

.goi:hover {
  transform: scale(1.04);
  box-shadow: 0 0 8px gray;
}

.slider-3 {
  height: 600px;
}

h1 {
  text-align: center;
}

.cacvideo{
  display: flex;
}

.video-1 {
  background-color: white;
  width: 800px;
  height: 400px;
  margin: 20px;
}

.video-2 {
  background-color: white;
  width: 400px;
  height: 200px;
  margin: 15px;
  margin-left: 60px;
}

.video-3 {
  background-color: white;
  width: 400px;
  height: 200px;
  margin: 15px;
  margin-left: 60px;
}

.thongtin {
  background-color: grey;
  height: 600px;
}

form {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: 0 auto;
}

.lien-lac {
  display: flex;
}

#name {
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 15px;
  margin: 5px 0 12px 0;
  display: inline-block;
  border: none;
  width: 100%;
  resize: vertical;
  padding: 15px;
  border-radius: 15px;
  border: 0;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);

}

#name:hover{
  box-shadow: 0 0 10px black;
}

#submit {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
}

#submit:hover {
  background-color: #0ca511;
}

.ketthuc {
  background-color: black;
  height: 400px;
  display: flex;
  color: white;
}

.ketthuc-1 {
  margin: 50px;
  margin-left: 80px;
}

.ketthuc-2 {
  margin: 50px;
  margin-left: 80px;
}

.ketthuc-3 {
  margin: 50px;
  margin-left: 80px;
}